
@{ ViewBag.Title = "PaymentSuccess"; }
<div class="container">

    <p>Your order has been successfully processed.</p>
    <h2>Order Placed  &#9989;</h2>


    <!-- You can display additional information or a thank you message here -->



    <p>
        @Html.ActionLink("Back to Home", "Index", "HomePageTest", null, new { @class = "btn btn-primary" })
    </p>
</div>
